.calendar {
  display: grid;
  grid-template-columns: 24px repeat(54, 12px);
  grid-template-rows: 18px repeat(7, 12px);
  gap: 3px;
  padding-bottom: 40px;
}

.calendar > .date {
  display: table;
  background-color: #ebedf0;
  font-size: 8px;
  color: white;
  text-align: center;
  height: 100%;
}

.calendar > .date > span {
  display: table-cell;
  vertical-align: middle;
}

.calendar > .label {
  color: #767676;
}

.calendar > .label__week {
  font-size: 9px;
}

.calendar > .label__month {
  font-size: 10px;
}
