:root {
  --base-color: #c9dfc3;
  --base-color-light: #abbea6;
  --base-color-dark: #e7ffe0;
  --main-bg-color: brown;
  --base-spacing: 4px;
  --base-distance: 4px;
}

.body {
  background: var(--base-color);
  margin: 0;
}

.top-page {
  display: grid;
  /* grid-template-columns: repeat(4, calc(100% / 4 - 3px));
  grid-template-rows: repeat(7, 100px); */
  gap: 24px;
  padding: 24px;
}

.users-section {
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4 - calc(12px * 3 / 4)));
  gap: 12px;
}

.total-section {
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4 - calc(12px * 3 / 4)));
  gap: 12px;
}

.box {
  border-radius: 12px;
  background: var(--base-color);
}

.convex {
  box-shadow: var(--base-distance) var(--base-distance)
      calc(2 * var(--base-distance)) var(--base-color-light),
    calc(-1 * var(--base-distance)) calc(-1 * var(--base-distance))
      calc(2 * var(--base-distance)) var(--base-color-dark);
}

.concave {
  box-shadow: inset var(--base-distance) var(--base-distance)
      calc(2 * var(--base-distance)) var(--base-color-light),
    inset calc(-1 * var(--base-distance)) calc(-1 * var(--base-distance))
      calc(2 * var(--base-distance)) var(--base-color-dark);
}

.full-width {
  width: 100%;
}

.pa-1 {
  padding: var(--base-spacing);
}

.pa-2 {
  padding: calc(2 * var(--base-spacing));
}

.pa-3 {
  padding: calc(3 * var(--base-spacing));
}

.ma-0 {
  margin: 0;
}

.ma-2 {
  margin: 2 * var(--base-spacing);
}
